/*
// ----------------------------------------------
// Web-based prototype for ABB Automation Cloud alarm managment case
// ----------------------------------------------
// Author: Angie, konzeptmeister@gmail.com
// Additions by Christian Messinger
// A project with ABB, Sweden. 2014
// ----------------------------------------------
//
// Styling for the UI framework
*/ 

/*--------------------------------
    GLOBAL RULES
--------------------------------*/

    *{ /*border-right: 1px solid grey; /* for testing only */
        padding: 0px;  margin: 0px;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        font-size: 14pt; 
        font-family: "Open Sans", Verdana, Helvetica, Sans-Serif;
        text-anchor: left;
    }



/*--------------------------------
    SHARED COMPONENTS
--------------------------------*/

    /*-- BUTTON --*/
    .button {
        cursor: pointer; 
        -webkit-transition:background-color 300ms; /* For Safari 3.1 to 6.0 */
        transition:background-color 300ms;
    }
    .button:hover, .button.active {background-color: #686868;}


    .button.iconLeft > .caption{
        float: right;  width: 65%; line-height: 100%;  display: inline-block; height: 100%;
        text-transform: lowercase; font-variant: small-caps;     
    }
    .button.iconBelow > .caption{
        font-size: 12pt; opacity: 0.5; text-align: center; 
        text-transform: lowercase; font-variant: small-caps;     
    }

    .drawer .panel-section .button {border: 1px solid white; padding: 5px;}
    .button > i {margin: 5px;}


    .button.iconLeft > .icon{
        float: left; 
        display: inline-block; 
        width: 30%; height: 100%;
        background-size: auto 80%;
        opacity: 0.9;
    }
    .button.iconBelow > .icon{
        width: 100%; height: 60%;
        bottom: 0px; left:0px; 
        background-size: auto 100% ;
        opacity: 0.9;
    }

    /*-- INPUT SLIDER --*/
    input.slider{
        position: relative;
        top: 4pt;
    }

    /*-- INPUT FIELD --*/
    input.field{
        background-color: transparent;
        color: #EEEEEE;
        border: 1px solid white;
    }

    /*-- LINK --*/
    .uiframework a {color: #EEEEEE; text-decoration: none;}
    .contentArea a {color: #333; text-decoration: none;}
    
    a:hover {text-decoration: underline;}
    a.button:hover {text-decoration: none;}


    /*-- CHECK BOXES --*/
    input[type="checkbox"] {
        display:none;
    }
    input[type="checkbox"] + label span {
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url(img/check_radio_sheet.png) left top no-repeat;
        cursor:pointer;
    }
    input[type="checkbox"]:checked + label span {
        background:url(img/check_radio_sheet.png) -19px top no-repeat;
    }

    /*-- RADIO BUTTONS --*/
    input[type="radio"] {
        display:none;
    }
    input[type="radio"] + label span {
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url(img/check_radio_sheet.png) -38px top no-repeat;
        cursor:pointer;
    }
    input[type="radio"]:checked + label span {
        background:url(img/check_radio_sheet.png) -57px top no-repeat;
    }


    /*-- SCROLL BAR --*/
    ::-webkit-scrollbar {
          width: 8px;
    } /* this targets the default scrollbar (compulsory) */

    ::-webkit-scrollbar-track {
          width: 8px;
          background-color: none;
          border-right: 0px solid rgb(209, 202, 191);
    } /* the new scrollbar will have a flat appearance with the set background color */

    ::-webkit-scrollbar-thumb {
          width: 8px;
          background-color: rgb(209, 202, 191);
    } /* this will style the thumb, ignoring the track */

    ::-webkit-scrollbar-button {
            width: 0px; height: 0px;

          background-color: #7c2929;
    } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

    ::-webkit-scrollbar-corner {
          background-color: black;
    } /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


/*--------------------------------
    UI FRAMEWORK GENERAL
--------------------------------*/

     body{
     	background-color: #fffaf0;
     	height: 100%;
     }
     
    .uiframework{
        line-height: 100%;
        overflow: hidden;
        width: 100%;
        background: #2D2D2D; color: #EEEEEE; /*ABB styleguide colors http://www.abb.com/cawp/db0003db004115/c125735d004da329c1257514004a1729.aspx */        
    }


    .footerDrawerGroup{position: fixed; bottom: -300px; left: 0px;  width: 100%;}
    .footerDrawerGroup {
        -webkit-transition:bottom 500ms; /* For Safari 3.1 to 6.0 */
        transition:bottom 500ms;
    }
    .footerDrawerGroup.up{position: fixed; bottom: 0px;}


    .header{position: fixed; height: 40px; top: 0px; left: 0px; z-index: 1001;}
    .footer{height: 40px;}
    .drawer{bottom: 0px; left: 0px;}
    .contentArea{
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        position: absolute;
        top: 40px; bottom: 40px; left: 0px;
        background-color: #fffaf0; /* not an ABB color*/        
    }

    #largeLogo{
        width: 100%; height: 100%; position: absolute;
        background-image:url(img/ABB2_rgb300_100mm_w.png);
        background-size: auto 100px;
        background-position: 50% 160px;
        display: none;
        opacity: 0;
    }

    #overalProgress{
        height: 5px; position: absolute;
        top: 50px; left: 10%;
        background-color: #fffaf0;
        -webkit-transition:width 3000ms; /* For Safari 3.1 to 6.0 */
        transition:width 3000ms;
        width: 0%;
        pointer-events: none;
    }
        
    #overalProgress.active{width: 80%; z-index: 9999;}

    .subcontainer{
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0px 0px 0px 0px;
    }

    .footer{border-bottom: 1px solid grey;}
    .footerItem{border-left: 1px solid grey; /*border-right: 1px solid grey;*/}


    .headerItem, .footerItem{
        overflow: hidden;
        vertical-align: middle;
        float: left;
        height: 100%;
    }

    #message{
        height: 40px;
        width: 80%;
        position: fixed;
        line-height: 40px;
        text-align: center;
        top: 50px;
        left: 10%;
        /*opacity: 0.8;*/
        background-color: #666666;
        color: #FFFFFF;
        font-size: 11pt;
        display: none;
        z-index: 9999;
        overflow: hidden;
        pointer-events: none;
    }


/*--------------------------------
    HEADER ELEMENTS
--------------------------------*/

    .header #backButton{
        width: 50px;
        opacity: 0.9;
        background-size: auto 60% ;
        background-image: url("img/back%20by%20Freepik%20from%20Flaticon.png");
    }


    .header #logoLeft{
        opacity: 1.0;
        background-size: auto 100% ;
    }

    @media all and (min-height: 0px) {
        .header #logoLeft{width: 120px; background-image: url("img/cloudlogo1.png");}
        }
        
    @media all and (min-height: 764px) {
        .header #logoLeft{width: 200px; background-image: url("img/cloudlogo1.png");}
        }

    .header #title{ min-width: 200px;}
    .header #title #currentPageTitle {
    	vertical-align: middle;
    	}
    
    .header #breadcrumbs{
    	text-transform: lowercase; 
    	font-variant: small-caps;    	
    	white-space:nowrap;    	
    	text-align: left;
        

    	
    }
    
    .header .breadcrumb a{
    	text-overflow:ellipsis;
    	max-width: 200px;
    	overflow:hidden;
    	display:inline-block;
    	padding: 3px;
    }
    
    .header .breadcrumb a:hover{
    	text-decoration: underline;
    }
    
    .header .breadcrumb:after{
    	content:"→";
    	vertical-align: 30%;
    	
    }
    
    .header #currentPageTitle{
        line-height: 40px;
    	text-transform: uppercase;
        letter-spacing: 0.1em;
    	width:400px; 
    }


    .header #quickButton {float: right; width: 120px; padding: 0px 10px 0px 10px;}
    .header #quickButton .icon{background-image: url("img/speaker%20by%20Freepik%20from%20Flaticon.png");}

    .sharingDropmenu {
        display: none;
        position: absolute; 
        height: auto; 
        width: 200px; 
        left: 800px; 
        top: 40px
    }
    
        .sharingDropmenu .button {height: 40px; border-top: 1px solid grey;}
    .sharingDropmenu .icon {float:left;    height: 30px; width: 30px;   }
    #shareToEmailAddress .icon{background-image: url("img/email%20by%20SimpleIcon%20from%20Flaticon.png");}
    #shareToClipboard .icon{background-image: url("img/clipboard%20by%20Icomoon%20from%20Flaticon.png");}

    .header #userCorner{float: right; padding: 0px 10px 0px 10px;}
    .header #userCorner .icon{
        float:left;
        height: 40px; width: 40px; 
        background-size: contain;
        background-image: url("img/avatar_emil.png");
    }
    .header #userCorner .caption {float: right; line-height: 100%;}
    .header #userCorner .caption span {font-size: 12pt;}    
    .header #userCorner .caption a {font-size: 10pt; text-decoration: underline;}


    .header #logoRight{
        float: right;
        max-width: 100px; min-width: 70px;  width: 10%;
        opacity: 0.9;
        background-size: auto 60% ;
        background-image: url("img/ABB2_rgb300_100mm_w.png");
    }




/*--------------------------------
    FOOTER ELEMENTS
--------------------------------*/

    .footer #drawerCallButton{
        height: 40px;
        width: 50px;
        opacity: 0.9;
        background-size: auto 60% ;
        background-image: url("img/menu%20by%20Freepik%20from%20Flaticon.png");
    }

    @media all and (min-height: 0px) {
    .footer #compareButton {width: 120px;}
    }
    @media all and (min-height: 764px) {
    .footer #compareButton {width: 200px;}
    }

    .footer #compareButton .icon{
        background-size: auto 150%;
        background-image: url("img/scales%20by%20Angie.png"); 
    }
    
    .footer #compareButton.active .icon{
        background-size: auto 100%;
        background-image: url("img/cross%20by%20Freepik%20from%20Flaticon.png.png"); 
    }

    #compareButton:hover {background-color: #2D2D2D;}
    #timeframeHistoric .button:hover {background-color: #2D2D2D;}

    #timeframeHistoric{
        display: none;
        width: 25%;
        background-color: #686868;
    }
    #timeframeMain{
        width: 50%;
    }
    .footer #timeframeMain, #timeframeHistoric{
        text-align: center;
        line-height: 40px;
        min-width: 200px;
        /*background-size: contain;*/
    }

    .footer .timeshift .left,.right{
        /*min-width: 40px; */
        width: 40px; /*15%*/
        height: 40px; 
        background-size: auto 60%;
    }
    .footer .timeshift .left {
        float: left; background-image: url("img/left%20by%20SimpleIcon%20from%20Flaticon.png");
    }
    .footer .timeshift .right{
        float: right; background-image: url("img/right%20by%20SimpleIcon%20from%20Flaticon.png")
    }

    .footer .timeshift input{
        /*float: right; */
        margin-top: 4px;
        margin-bottom: 4px;
        height: 32px; /*width:20%;*/
        font-size: 12pt;
        border: none;
        text-align: center;
        outline: none;
        display: inline-block;
    }

    .footer .timeshift input.tStart{
        -webkit-transition:background-color 300ms; /* For Safari 3.1 to 6.0 */
        transition:background-color 300ms;
        cursor: pointer;
        width: 3.5em;
    }
    .footer .timeshift input.tEnd{
        -webkit-transition:color 300ms; /* For Safari 3.1 to 6.0 */
        transition:color 300ms;
        width: 6em;
    }
    .footer .timeshift input.tStart:focus{
        cursor: text;
        background-color: #686868;
        border: 1px solid white;
    }

    .footer .timeshift input.tStart:hover{
        background-color: #686868;
    }

    .footer #timeframeHistoric input.tStart:hover, #timeframeHistoric input.tStart:focus{
        background-color: #2D2D2D;
    }

    .footer .timeshift input.tEnd:hover{
        color: #404040;
    }

    .footer .timeshift .datepicker{
        background-size: 70% 50%;
        background-position: 50% 12px;
        background-image: url("img/calendar%20by%20SimpleIcon%20from%20Flaticon.png");
        cursor: pointer;
        width:24px; display: inline-block; height: 32px; 
        color: transparent;
        visibility: hidden; 
    }
    .footer .timeshift .placeholder{ width:24px; display: inline-block;}

    .footer .timeshift:hover .datepicker{ visibility: visible;   }

    .footer .timeshift .label{width:1em; font-size: 12pt; margin: -5px; display: inline-block;}

    .footer .timeshift.oneday input{font-size: 14pt; width: 6em;}
    .footer .timeshift.oneday .label{display: none;}
    .footer .timeshift.oneday .tEnd{display: none;}
        

    .footer #selectorTimeframe, #selectorBinsize{
        float: left;
        text-align: center;
    }

    .footer #selectorTimeframe{
        min-width: 40px; 
        width: 20%;
    }

    .footer .selector .caption{
        text-transform: lowercase; font-variant: small-caps;
        font-size: 12pt;
        opacity: 0.5;
    }

    .footer .selector .options{width: 100%}

    .footer .selector .option{
        text-transform: uppercase; 
        font-size: 12pt; 
        display: inline-block;
        margin-left: 1px; margin-right: 1px;
        position: relative; bottom: 1px;
    }
    .footer .selector .option.selected{border-bottom: 4px inset #EEEEEE; }

/*position: relative; top: -3px*/



/*--------------------------------
    DRAWER ELEMENTS
--------------------------------*/

    .drawer #nav{
        float:left;
        height: 300px;
        width: 170px;
        padding-right: 0px;
    }


    .drawer .tab{
        text-transform: uppercase;
        padding-left: 8px;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid grey;
        font-size:90%;
        }
    .drawer .tab.selected{border-right: 5px inset #EEEEEE;}

    .drawer h3 {font-weight: normal; margin-bottom: 20px;}
    .drawer p {margin-bottom: 30px;}

    .drawer #content{
        border-left: 1px solid grey;
        height: 300px;
        text-align: left;
        color:white;        
        padding:10px;
        

        overflow-x: hidden;
        overflow-y: scroll;
}

.panel-section{
	display:none;
}
