
.largeCentral text {font: 10px Verdana, sans-serif; fill: grey; }

    .matrixLayoutContainer, circularLayoutContainer{width: 100%}

    div.tooltip{
        text-align: left;
        max-width: 250px; 
        opacity: 0; 
        background-color: #d1d89a;  position: absolute; 
        font-size: 14px
    }

    .largeCentral .controlls {position: absolute; padding-top: 0px; padding-bottom: 10px} 
    .largeCentral .controlls div{color: #2D2D2D; white-space: nowrap; overflow: hidden;}
    .largeCentral .controlls>div{width: 100%; height: 25%; max-height: 25px; line-height: 25px}

    .largeCentral .controlls .button {
        cursor: pointer;
        float: left;
        background-color: transparent;
        border: 1px solid #2D2D2D;
        text-align: center;
        line-height: 20px;
        margin-right: 3px;
    }


    .largeCentral .controlls .button:hover {
        background-color: #2D2D2D; color: #EEEEEE;
    }

    .largeCentral .controlls .hieUp, .controlls .hieDown{width: 40%; height: 100%}
    .largeCentral .controlls .sortingControll{width: 25%; height: 100%}

    .node {cursor: pointer;}
    .node .tab {stroke: #9f9f9f; stroke-width: 5px; }
    .node.collapsed .tab {stroke: #333; stroke-width: 5px; }
    .node .grid {stroke: #ebebeb; stroke-width: 1px; pointer-events: none;}
    .node text, .node.root {fill: #585858; text-transform: uppercase;}
    .node.leaf text {fill: #9b9b9b; text-transform: lowercase;}
    .node.hover .tab {stroke-width: 7px;}
    .node.hover .grid, .node .grid.hover  {stroke: #b9b9b9; stroke-width: 1px;}
    .node.hover text {font-size: 12px; font-weight: bold; fill: black;}

    .link {
        cursor: pointer;
        fill: none;
        stroke-width: 1px;
    }
    .link.hover{opacity: 1}

    circle.link{stroke: white; pointer-events: visible;}
    path.link {pointer-events: stroke;}

    .resultstable tr.noaction.hover {  background-color: rgba(12, 121, 7, 0.2);}
    .resultstable tr.timewindows.hover {  background-color: rgba(206, 0, 255, 0.2);}
    .resultstable tr.fullycontains.hover {  background-color: rgba(221, 68, 0, 0.2);}
    .resultstable tr.partiallycontains.hover {  background-color: rgba(255, 202, 27, 0.5);}

    circle.link.noaction{fill: rgb(146,208,80);}
    circle.link.noaction.hover{fill: rgb(12, 121, 7);}

    circle.link.timewindows {stroke: white; fill: rgb(127,101,159); }
    circle.link.timewindows.hover {fill: rgb(206, 0, 255); }

    circle.link.fullycontains {stroke: white; fill: rgb(255, 126, 69); }
    circle.link.fullycontains.hover {fill: rgb(221, 68, 0); }

    circle.link.partiallycontains {stroke: white; fill: rgb(237, 201, 0); }
    circle.link.partiallycontains.hover {fill: rgb(255, 202, 27); }


    path.link.timewindows {stroke: rgb(127,101,159); stroke-opacity: 0.8;}
    path.link.timewindows.hover {
        stroke: rgb(206, 0, 255); stroke-opacity: 0.3; stroke-width: 4px;  
        fill: rgb(206, 0, 255); fill-opacity: 0.05; 
    }

    path.link.fullycontains {stroke: rgb(255, 126, 69); stroke-opacity: 0.8;}
    path.link.fullycontains.hover {
        stroke: rgb(221, 68, 0); stroke-opacity: 0.3; stroke-width: 4px;  
        fill: rgb(221, 68, 0); fill-opacity: 0.05; 
    }

    path.link.partiallycontains {stroke: rgb(237, 201, 0); stroke-opacity: 0.8;}
    path.link.partiallycontains.hover {
        stroke: rgb(255, 202, 27); stroke-opacity: 0.3; stroke-width: 4px;  
        fill: rgb(255, 202, 27); fill-opacity: 0.05; 
    }

