/*
// ----------------------------------------------
// Web-based prototype for ABB Automation Cloud alarm managment case
// ----------------------------------------------
// Author: Angie, konzeptmeister@gmail.com
// Supervisor: Goga, goranka.zoric@se.abb.com
// A project with ABB, Sweden. 2014
//
// Additions: Christian, christian.messinger@de.abb.com
// --> breadcrumbs style to prevent unwanted workwrapping
//     drawer panels
//     scrolling of content area
// ----------------------------------------------
// Styling for Overview dashboard
*/ 

/*--------------------------------
    ELEMENTS
--------------------------------*/

.overview .topRow{z-index: 1;}
.overview .leftPart, .overview .rightPart{float: left; height: 100%; position: relative; z-index: 0}
.overview .leftPart svg, .overview .rightPart svg{width:100%; height: 100%}

.assetNumber{font-size: 10pt; fill: #b2b2b2;}

.assetName{font-family: Verdana; font-size: 6pt; fill: #686868;}
.table.row.active .assetName{font-weight: bold; fill: #404040;}

.bullet.line{fill: #c4bba0; }
.bullet.value{fill: #9a927b;}
.bullet.arc{/*opacity: 0.5;*/ stroke-width: 2px;}
.bullet.arc.up{fill: #dd4c00; stroke: #dd4c00;}
.bullet.arc.down{fill: #bae4b3; stroke: #bae4b3;}
.bullet.target{fill: #f0f0f0;}
.bullet.target.crossed{fill: #d96767;}

.table.row {height: 25px;}
.table.row:hover {height: 50px;}

.table.row .background{fill: #e3d1ad; opacity: 0.0;}
.table.row .background.active{opacity: 0.5;}

#hoverPlantName{font-size: 16pt; line-height: 40px; text-transform: none; color: #535353; padding: 4px;
    -webkit-transition:background-color 300ms; /* For Safari 3.1 to 6.0 */
    transition:background-color 300ms;
}
#hoverPlantName.highlight{background-color: pink; border: 1px solid grey;}

.overview .priority rect {opacity: 0.5;}
.overview rect.priority {opacity: 0.5;}
.priority.active rect{opacity: 1.0;}
.active rect.priority {opacity: 1.5;}

span.priority{color: grey}
span.priority.good{color: #53b4a5}
span.priority.med{color: #ceb67e}
span.priority.bad{color: #a76e22}


.timeSeries path.reduced{stroke: #35978f; fill: none; stroke-width: 2px; opacity: 0.5}
.timeSeries path{fill: none; stroke-width: 1px; opacity: 1; pointer-events: none;}
.timeSeries.active path{fill: none; /*stroke: #543005;*/ stroke-width: 3px; opacity: 1}

.focus line{fill: none; stroke: #797979;}
/*.focus text{font-size: 10pt} see timeSeries.text instead*/

.axis path{fill: none; stroke: none;}

.axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1;    
    shape-rendering: crispEdges;
}
.axis text {font-size: 10pt; fill: #797979;}

.dashPlot .midLine{stroke: none;}

.dashPlot .background.bad{fill: #dfc27d; opacity: 0.5;}
.dashPlot .background.good{fill: #80cdc1; opacity: 0.5;}

.dashPlot .dash{stroke: #543005; stroke-width: 2px; opacity: 0.2; }
.dashPlot .dash.active{stroke-width: 5px; opacity: 1;}
/*.dashPlot .dash:hover{stroke-width: 10px; opacity: 1;}*/
.dashPlot .dash.hidden{opacity: 0.0;}


.dashPlot .target{stroke: #35978f; stroke-width: 3px; opacity: 1.0;}
.dashPlot .targetValue{fill: #35978f;}

.dashPlot .dashValue{font-size: 14pt; fill: none;}
.dashPlot .dashValue.active{fill: #543005;}

.dashPlot .dashValueShadow{font-size: 14pt; fill: none; stroke: none; stroke-width: 6px; opacity: 1;}
.dashPlot .dashValueShadow.active{fill: #fffaf0; stroke: #fffaf0;}

.dashPlot .connection{stroke: #b2a283; stroke-width: 1px; opacity: 0.1;}
.dashPlot .connection.active{stroke: #543005; stroke-width: 2px; opacity: 1;}
.dashPlot .connection.hidden{opacity: 0.0;}

.hoverable{cursor: pointer;}
/*.hideable{transition: opacity .5s ease;}*/
.hidden{opacity: 0;}

/*
div.touchArea{position: absolute; border: 2px solid grey; pointer-events: visible; top:0px; left:0px;}
div.touchArea.focused{border-color: red;}*/

.focusArea{fill: none;}
.focusArea.focused{stroke: red; stroke-width: 1px;}



@media all and (max-width: 9000px) and (min-width: 1351px) {
    .topRow span, .topRow div, text, th{font-size: 10pt;}
    .alarmTable div{font-size: 10pt;}
    .topRow .value {font-size: 14pt;}
    .axis text{font-size: 10pt;}
}
@media all and (max-width: 1350px) and (min-width: 1025px) {
    .topRow span, .topRow div, text, th{font-size: 8pt;}
    .alarmTable div{font-size: 8pt;}
    .topRow .value {font-size: 12pt;}
    .axis text{font-size: 8pt;}
}
@media all and (max-width: 1024px) and (min-width: 50px) {
    .topRow span, .topRow div, text, th{font-size: 6pt;}
    .alarmTable div{font-size: 6pt;}
    .topRow .value {font-size: 10pt;}
    .axis text{font-size: 6pt;}
}
.overview .topRow{position: absolute;}
.topRow{line-height: 90%;}
.topRow .topline, .subline, text{line-height: 90%;}

.topRow .value{line-height: 100%;}
.topRow .topline, th{ text-transform: uppercase; font-weight: normal}
.topRow .subline{ /*text-transform: lowercase;*/}