* {
    font-family: "Consolas", monospace;
    margin: 0px;
    overflow: hidden;
}

#error {
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: pink;
    width: 100%;
}


#header{
    position: absolute;
    top: 0%;
    color: black;
    width: 100%;
    height: 5%;
    font-family: monospace;
}

.hero {
  font-size: 2vh;
}

.flex-container {
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

#footer{
    position: absolute;
    top: 90%;
    color: black;
    width: 100%;
    height: 10%;
    text-align: left;
    font-family: monospace;  
}
#container{
    position: absolute;
    top: 5%;
    color: black;
    width: 100%;
    height: 85%;
    text-align: left;
    font-family: monospace;
}

#container .channel {
  position: relative;
  width: 100%;
}

.axis {
  font: 10px sans-serif;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
}
.horizon .value {
  font-weight: bold;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}


.heartbeat {
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}
.heartbeat.dead {
  background-color: pink;
}

.legend {
  position: absolute;
  bottom: 0px;
}

.legend .color {
  display: inline-block;
}
.legend .color div {
  display: block;
  padding: 0px 3px;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  text-align: center;
}





#title{
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}

#subtitle{
    position: absolute;
    bottom: 3%;
    text-align: center;
    color: white;    
    width: 100%;
}

#error a {
    color: pink;
}

#dome{
    background-color: #6f8e1a;
    width: 100%;
    height: 100%;
}

#dome .dome-shell{
    fill: none;
    stroke: white;
}

#dome .dome-reactor{
    fill: black;
    fill-opacity: 0.1;
    stroke: white;
}

#dome .dome-measurepoint circle{
    fill:white;
}

#dome .dome-measurepoint text{
    fill: white;
    dominant-baseline: ideographic;
    opacity: 1;
    text-anchor: middle;
}

.dome-legend{
    text-anchor: middle;
    dominant-baseline: ideographic;
    text-transform: uppercase;
    fill: white;
}

.sparkline{
    fill: none;
    stroke: white;
    opacity: 1;
}

.sparkline-shade{
    fill: none;
    stroke: #6f8e1a;
    opacity: 1;
}


.sparklinetip{
    fill: white;
    stroke: #6f8e1a;
    opacity: 1;
}
