    *{ /*border-right: 1px solid grey; /* for testing only */
        padding: 0px;  margin: 0px;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        font-size: 12pt;
        font-family: "Open Sans", Verdana, Helvetica, Sans-Serif;
        text-anchor: left;
    }

body{width: 100%; height: 100%}
#container{width: 80%; height: 10%}
svg{width: 100%; height: 50%}
div{position: relative; }

body {padding: 10px 50px 50px 50px}
.slider {margin: 10px 10px 20px}


.axis path{fill: none; stroke: none;}

.axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis text {font-size: 10pt; fill: #797979;}

.dashPlot .midLine{stroke: #ebebeb; stroke-width: 1px;}

.dashPlot .background.bad{fill: #dfc27d;  opacity: 0;}
.dashPlot .background.good{fill: #80cdc1; opacity: 0;}

.dashPlot .dash{stroke: #05541a; stroke-width: 3px;}
.dashPlot .dash.active{stroke-width: 5px; opacity: 1;}
.dashPlot .dash.hidden{opacity: 0.0;}

.dashPlot .bulletLine{stroke: #05541a;}
.dashPlot .bulletLine.active{stroke-width: 5px; opacity: 1;}

.dashPlot .boxplot .hiHiLine,.loLoLine{stroke: #05541a; stroke-width: 2px;}
.dashPlot .boxplot .hiLine,.loLine{stroke: #05541a; stroke-width: 5px;}

.dashPlot .target{stroke: #35978f; stroke-width: 3px; opacity: 1.0;}
.dashPlot .targetValue{fill: #35978f;}

.dashPlot .dashValue{font-size: 14pt; fill: none;}
.dashPlot .dashValue.active{fill: #05541a;}

.dashPlot .dashValueShadow{font-size: 14pt; fill: none; stroke: none; stroke-width: 6px; opacity: 1;}
.dashPlot .dashValueShadow.active{fill: #FFF; stroke: #FFF;}

.dashPlot .connection{stroke: #789d7e; stroke-width: 1px;}
.dashPlot .connection.active{stroke: #05541a; stroke-width: 2px; opacity: 1;}
.dashPlot .connection.hidden{opacity: 0.0;}

.hoverable{cursor: pointer;}
/*.hideable{transition: opacity .5s ease;}*/
.hidden{opacity: 0;}





@media all and (max-width: 5000px) and (min-width: 1351px) {
    .topRow span, text{font-size: 10pt;}
    .axis text{font-size: 10pt;}
}
@media all and (max-width: 1350px) and (min-width: 1025px) {
    .topRow span, text{font-size: 9pt;}
    .axis text{font-size: 9pt;}
}
@media all and (max-width: 1024px) and (min-width: 50px) {
    .topRow span, text{font-size: 8pt;}
    .axis text{font-size: 8pt;}
}
.dashboard .topRow{position: absolute;}
.topRow{line-height: 90%;}
.topRow .topline, .subline, text{line-height: 90%;}
.topRow .value{line-height: 100%;}
.topRow .topline{ text-transform: uppercase;}
.topRow .subline{ /*text-transform: lowercase;*/}
